/* livvic-500 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/livvic-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/livvic-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/livvic-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/livvic-v13-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/livvic-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/livvic-v13-latin-500.svg#Livvic') format('svg'); /* Legacy iOS */
}
/* livvic-600 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/livvic-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/livvic-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/livvic-v13-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/livvic-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/livvic-v13-latin-600.svg#Livvic') format('svg'); /* Legacy iOS */
}
/* livvic-700 - latin */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/livvic-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/livvic-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/livvic-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/livvic-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/livvic-v13-latin-700.svg#Livvic') format('svg'); /* Legacy iOS */
}
*{
  box-sizing: border-box;
}
img{
  vertical-align: middle;
}
.container{
  max-width: 1158px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

header{
  background: #014E56;

}

.header {
  padding-top: 33px;
  padding-bottom: 33px;
  display: flex;
  align-items: center;

}


.header__element{
  list-style: none;
min-width: 140px;
padding: 0;
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.header__link{
  text-decoration: none;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__link:hover{
  color: #F67E7E;
}



.link__contact{
  margin-left: auto;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  color: #FFFFFF;
  padding: 9px 33px 11px 32px;

}

.link__contact:hover{
  color: #002529;
background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 24px;

}

.menu {
  display: none;
}


.section__1{
  background: #014E56;
  position: relative;
  z-index: 11111111;

}



  .hero{
  background-image: url(../img/group.png);
  background-size: 358px 200px;
  background-position: 750px 410px;
  background-repeat: no-repeat;
  padding-top: 50px;
  padding-bottom: 110px;
  display: flex;
  align-items:center;
  justify-content: space-between;
  }  

.hero::before{
  background-image: url(../img/Group\ 8\ \(2\).png);
  background-repeat: no-repeat;
  background-position:-100px ;
  content: "";
  left: 0px;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -11;
}

.hero__title{
  max-width: 635px;

  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  /* or 100% */
  
  
  color: #FFFFFF;
}

.hero__line{
color: #F67E7E;

}

.hero__text{
  font-family: 'Livvic';
  padding-top: 80px;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
/* or 156% */
max-width: 429px;

color: #FFFFFF;

}

.hero__text::before{
  top: 160px;
  background: #79C8C7;
  min-width: 50px;
  height: 4px;
  content: "";
  position: absolute;
}
  



.section__2{
  background: #012F34;
  background-image: url(../img/Groupa.png);
  background-repeat: no-repeat;
  background-position: right bottom;

}


.inner{

  padding-top: 145px;
  padding-bottom: 50px;
display: flex;
align-items: flex-start;
justify-content: space-between;

}






.inner__title{
margin-top:50px;
  max-width: 445px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
  
  
  color: #FFFFFF;
}

.inner__title::before{
  width: 50px;
  height: 4px;
  top:790px;
  background: #F67E7E;
  content: "";
  position: absolute;

}

.inner__element{
padding: 0;
list-style: none;

}


.inner__item{
  padding-top: 20px;
  margin-top: 2px;
max-width: 445px;
width: 100%;
}


.inner__item:nth-child(1)::before{
  background-image: url(../img/Groupman.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  position: absolute;
  transform: translate(-125%);
  content: "";
  -webkit-transform: translate(-125%);
  -moz-transform: translate(-125%);
  -ms-transform: translate(-125%);
  -o-transform: translate(-125%);
}

.inner__item:nth-child(2)::before{
  background-image: url(../img/Groupoption.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  position: absolute;
  transform: translate(-125%);
  content: "";
  -webkit-transform: translate(-125%);
  -moz-transform: translate(-125%);
  -ms-transform: translate(-125%);
  -o-transform: translate(-125%);
}
.inner__item:nth-child(3)::before{
  background-image: url(../img/Groupsitatic.png);
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
  transform: translate(-125%);
  position: absolute;
  content: "";
  -webkit-transform: translate(-125%);
  -moz-transform: translate(-125%);
  -ms-transform: translate(-125%);
  -o-transform: translate(-125%);
}


.item__text{
  margin-bottom: 10px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  color: #F67E7E;
}

.item__text-2{
  margin-top: 0;
  font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.8;
}

.section__3{
  background: #004047;
  position: relative;
  z-index: 11;

}



.intro{
padding-top: 140px;
padding-bottom: 50px;
}

.intro::before{
  background-image: url(../img/Groupintrobefor.png);
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  width: 147px;
  height: 100px;
  left: 0px;
  content: "";
}

.intro::after{
  right: 0px;
  bottom: 0px;
  background-image: url(../img/introafter.png);
position: absolute;
background-repeat: no-repeat;
width: 200px;
height: 100px;
content: "";

}


.intro__title{
  margin: auto;
  margin-bottom: 92px;
  max-width: 932px;
  text-align: center;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* or 100% */
  color: #FFFFFF;
  
}

.title-line{
  color: #79C8C7;
}

.intro__elemnent{
margin: 0;
padding: 0;
list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}

.intro__item{
  text-align: center;
max-width: 350px;
}

.intro__item::before {
  display: block;
  margin: 0 auto;
  margin-bottom: -20px;
  width: 67px;
  height: 56px;
  background-image: url("../img/copy.png");
  content: "";
}

  
.quote{
  margin: 0px 0px 20px;
font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
/* or 167% */
text-align: center;

color: #FFFFFF;

}

.intro__name{
  margin-bottom: 0;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  
  text-align: center;
  
  color: #79C8C7;
  
}

.intro__text{ 
  margin-top: 5px;
  font-family: 'Livvic';
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height, or 138% */
  text-align: center;
  color: #FFFFFF;
  
}

.intro-img{
  margin-top: 32px;
  width: 62px;
  height: 62px;
}

.sectiom__4{
  background: #F67E7E;
position: relative;
z-index: 111111111111;
}



.aside{

  padding-top: 85px;
  padding-bottom: 85px;
display: flex;
align-items: flex-start;
justify-content: space-around;
}

.aside::before{
  background-image: url(../img/Group\ 8\ \(3\).png);
  background-repeat: no-repeat;
  width: 200px;
  height: 244px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  z-index: -11;

  content: "";

  background-position:-0px  130px;

}


.aside__title{
  margin: 0;
  font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
color: #012F34;

max-width: 504px;
}

.aside__link{
  text-decoration: none;
  padding: 9px 33px 11px 32px;
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */
  border: 2px solid #012F34;
border-radius: 24px;
  color: #012F34;
  
}

.aside__link:hover{
  background: #012F34;
border: 2px solid #012F34;
border-radius: 24px;
color: #FFFFFF;
}

footer{
  background: #002529;
}

.footer{
  padding-top: 50px;
  padding-bottom: 55px;
  display: flex;
  align-items: flex-start;
}

.footer__page{
  margin-top: 35px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  padding: 0;
  list-style: none;

}


.page__link{
  text-decoration: none;
  font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;

}

.page__link:hover{
  color: #F67E7E;
}

.footer__element{
  margin-top: 0;
  margin-left: 125px;
padding: 0;
list-style: none;
}

.footer__item{
margin-bottom: 3px;
}

.fae{
  margin-top: 0;
  margin-left: 125px;
padding: 0;
list-style: none;

}

.tae{

}

.footer__link{
  text-decoration: none;
  font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.6;
}


.footer__div{
margin-left: auto;
}

.linkk__element{
justify-content: flex-end;
  padding: 0;
  margin-bottom: 45px;
display: flex;
list-style: none;
align-items: center;
}

.link__item{
  margin-left: 15px;
}

.lov{
  display: none;
}

.footerr__text{
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.facebook:hover path{
  fill: #F67E7E;

}

.path:hover path{
  fill: #F67E7E;

}
.twitter:hover path{
  fill: #F67E7E;

}
.fae{
  display: none;
}
@media only screen and (max-width: 525px){

  .header__element{
    display: none;
  }
  .menu{
    margin-left: auto;
    display: flex;

  }

  .link__contact{
    display: none;
  }

}
@media only screen and (max-width: 585px){
  .header__element{
    margin-left: 20px;
  }

}

@media only screen and (max-width: 552px){
  
}

@media only screen and (max-width: 709px){
  .aside{
    flex-direction: column;
  }



  .aside__title{
    text-align: center;
    margin: 0 auto;
  }

  .aside__link{
    margin: 0 auto;
    margin-top: 24px;
  }

}
@media only screen and (min-width: 497px){
.aaaaa{
  display: none;
}

}

@media only screen and (max-width: 497px){
.aaaaa{

  display: block;
  padding-left: 0;
  text-align: center;
  width: 124px;
  margin: 0 auto;
  margin-top: 40px;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

  .linkk__element{
    display: block;
  }

  .link__item{
    display: block;
  }

  .footer{
    flex-direction: column;
  }
  .footer__2{
    margin: 0 auto;
  }
  .footer__div{
  margin: 0 auto;
  }
  .fae{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  .kov{
    display: none;
  }


  
}

@media only screen and (min-width: 1003px){

}

@media only screen and (max-width: 1003px){
  
  .fae{
    display: block;
       text-align: end;
 
  }

  .tae{
  }
  .footerr__text{
    margin-top: 30px;
    text-align: end;
  }

  .lov{
    margin: 0;
    padding-left: 0;
    margin-top: 33px;
    width: 104px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
  }
  .kov{
    padding: 0;
    margin-left: 0px;
    margin-right:35px;
  }

  .linkk__element{
    display: none;
  }

  .footer__element{
    display: none;
  }

  .intro__title{
    font-size: 32px;
line-height: 32px;
  }
  .hero::after{
    width: 100%;
    height: 100%;
    max-width: 328px;
    max-height: 200px;
    bottom: 0px;
    background-position:0px 100px;

    background-image: url(../img/Group\ 4\ \(1\).png);
    background-repeat: no-repeat;
    content: "";
    position: absolute;

  }

  .hero__title{
    margin-bottom: 0;
    text-align: center;
font-size: 64px;
line-height: 56px;
  }

  .hero__text{
    margin-top: 0;
    padding-top: 10px;
    text-align: center;
    max-width: 457px;
    font-size: 15px;
    line-height: 28px;
    
  }
  .hero{
    background-image: none;
    padding-bottom: 200px;
    flex-direction: column;
  }

  .inner__title{
    margin-bottom: 0;
    max-width: 445px;
    font-size: 32px;
line-height: 32px;
  }
  
  .hero__text::before{
    display: none;
  }

  .inner__title::before{
    top: 750px;
  }

  .inner{
    margin-left: auto;
    flex-direction: column;
  }

  .section__2{
    background-position: top right;
  }
  .inner__element{
    margin-left: 100px;
  }
  .inner__item{
  
   
  }

  .intro__elemnent{
    flex-direction: column;
  }

  .intro__item{
    max-width: 573px;
    margin-top: 80px;
  }

  /* .intro::after{
    top: 2680px;
  } */

  .intro__title{
    margin-bottom: 0;
  }

  .intro-img{
    margin-top: 0;
  }

  
  


}

@media only screen and (max-width: 497px){
  .fae{
    display: inline;
    text-align: center;
  }

  .footerr__text{
    margin-top: 10px;
  }
}

@media only screen and (max-width: 497px){
.hero::after{
  max-width: 358px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}
}

@media only screen and (max-width: 425px){
  .aside{
    padding-bottom: 100px;
  }

    .hero::after{
      width: 100%;
      height: 100%;
      max-width: 308px;
      max-height: 200px;
      bottom: 0px;
      background-position:0px 100px;
  
      background-image: url(../img/Group\ 4\ \(1\).png);
      background-repeat: no-repeat;
      content: "";
      position: absolute;
  
  
  }

  .inner__title{
    font-size: 32px;
line-height: 32px;
margin: 20px;
  }

  .hero__title{
    width: 100%;
    max-width: 280px;
    font-size: 40px;
    line-height: 40px;  }

  .hero__text{
    font-size: 15px;
line-height: 28px;
  }
  

  .inner__element{
    position: relative;
  }

  .inner__item:nth-child(1)::before{
    background-image: url(../img/Groupman.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: 60px;
    position: absolute;
    transform: translate(-50%);
    content: "";
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
  
  .inner__item:nth-child(2)::before{
    background-image: url(../img/Groupoption.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: 310px;
    position: absolute;
    transform: translate(-50%);
    content: "";
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
  .inner__item:nth-child(3)::before{
    background-image: url(../img/Groupsitatic.png);
    background-repeat: no-repeat;
    width: 72px;
    height: 72px;
    top: 550px;
    transform: translate(-50%);
    position: absolute;
    content: "";
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
  
    .aside__title{
      font-size: 32px;
line-height: 32px;
    }
    .intro{
      margin-top: 0;
      padding-bottom: 200px;
    }


  .inner__title{
    margin-bottom: 10px;
    max-width: 240px;
  }
  .inner__item{
    margin-top: 100px;
  }

.inner__element{
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
}

.intro__title{
  font-size: 32px;
line-height: 32px;
}
}

